.main-info {
    background: #fff;
   
}
.info-three {
     padding: 16.667px;
}
.info-header h3{
    font-size: 20.8333px;
    color: rgb(60, 60, 60);
    font-weight: 500;
    line-height: 31.25px;
}
.header-top{
    color: rgba(0,0,0,.54)
}
.header-top span {
    color: rgb(255, 74, 0);
}
.price {
    padding-top: 10.4167px;
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.54);
}
.price em {
    margin-right: 8.33333px;
    font-size: 25px;
    line-height: 25px;
    color: rgb(255, 103, 0);
    text-decoration: none;
}
.price span {
    text-decoration: line-through;
}
.info-configure {
    margin-top: 23px;
    height: auto;
}
.configure-server {
    display: flex;
    width: 100%;
    height: 42px;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: rgb(153, 153, 153);
}
.configure-server div:first-child{
    flex-grow: 1;
}
.configure-server div:last-child{
    flex-grow: 7;
}
.info-introduce img {
    width: 100%;
}
.cart-list {
    margin: 0 8.3333px 8.3333px;
    background: rgba(255, 255, 255, 0.93);
    height: 57.2px;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12);
    border: 1px solid #e5e5e5;
    position: fixed;
    left: 0;
    width: 96%;
    bottom: 0;
    border-radius: 8.333px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    z-index: 999;
}
.items-icons {
    flex-grow: 1;
    color: rgba(0,0,0,.54);
}
.items-big {
    flex-grow: 2;
}
.items-big .add-cart {
    float: right;
    margin-right: 16.667px;
    width: 2.3rem;
}
.header-action {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: .88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 0 .2rem;
    transition: all 2s
}
.header-action .action-left,
.header-action .action-right{
    width: .62rem;
    height: .6rem;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    text-align: center;
    line-height: .63rem;
}
.white {
    background: #fff !important;
}